:root {
  --secondary-blue: #64afe4; /* Lighter, more vibrant blue */
  --primary-blue: #4a95d0; /* Medium, balanced blue */
  --mid-blue: #569fd7; /* Color between secondary-blue and primary-blue */
  --darker-blue: #2b75b3; /* Deep, rich blue */
  --teal-green: #2c7873; /* Deep teal color */
  --sage-green: #52ab98; /* Soft sage green */
  --light-gray: #f5f5f5;
  --warm-gray: #e7e7e5;
  --gray-blue: #f0f4f8;
  --primary-gradient-color: linear-gradient(
    90deg,
    var(--primary-blue) 30%,
    var(--secondary-blue)
  );
  --primary-hover-gradient-color: linear-gradient(
    90deg,
    var(--darker-blue) 30%,
    var(--primary-blue)
  );
  --green-gradient-color: linear-gradient(
    135deg,
    var(--teal-green) 0%,
    var(--sage-green) 100%
  );
  --green-hover-gradient-color: linear-gradient(
    135deg,
    var(--sage-green) 0%,
    var(--teal-green) 100%
  );
  --default-blue: #4169e1;
  --softer-blue: #3b6ecf;
  --royal-blue: #4169e1;
  --steel-blue: #4682b4;
  --primary-font: "Roboto", sans-serif;

  --pf-global--primary-color--100: var(--primary-blue);
  --pf-global--primary-color--200: var(--darker-blue);
}

.login-pf body {
  background: url(../img/robot-bg.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

#kc-header-wrapper {
  padding: 20px 10px;
}

div.kc-logo-text {
  background-image: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
}

.card-pf {
  background-color: var(--gray-blue) !important;
}
